body {
	background: url(background3.png);
	background-size: 25%;
	
    color:oldlace;
}

body a {
    color: hotpink;
}

footer {
	font-size: 18px;
}

header h1 {
    font-size: 5em; 

}

/* Custom Nav bar */
.navbar {
	text-align:center;

}
.navbar .nav {
	float:none;
    /*background-color: gray;*/
}
.navbar .nav li {
	display:inline-block;
    float:none;
    font-size: 18px;
    color:oldlace;
}

#contact-me {
	/*color: #ffd700;
*/    color: hotpink;
}

.navbar-inverse .navbar-nav>li>a {
    /*color: #dcd9d0;*/
    color: oldlace;
}

.page-header {
    border-bottom: 1px solid oldlace;
    margin: 20px 0 20px;
}

/*ABOUT*/
.about {
	padding: 1em;

}

.about-text {
    /*color: white;*/
    font-size: 1.5em;
}
/*PROJECTS/PORTFOLIO*/
.projects {
	padding: 1em;
    
}
.portfolio-item {
    margin-bottom: 25px;
}

.portfolio-item img {
    max-height: 300px;
    padding-bottom: 10px;
    width: 100%

}

.portfolio-item iframe {
    max-height: 300px;
    margin-bottom: 10px;
}

.embed-responsive-16by9 {
    padding-bottom: 52.25%;
}
/*SKILLS*/

.skills { 
    padding: 1em;
}
.skills-list {
    font-size: 1.5em; 
    font-weight: bold;
}
/*EDUCATION*/
.education {
	padding: 1em;
}

.education-item {
   /* color: white;*/
}

.img-education {
	width:100px;
	height: 100px;
	margin-top: 10px;

}


#contact li {margin-bottom: 2em}
