body {
	background: url(background2.jpg);
	background-size: 50%;
	color: #1c1a1c;
}

/* Custom Nav bar */
.navbar {
	text-align:center;

}
.navbar .nav {
	float:none;
}
.navbar .nav li {
	display:inline-block;
    float:none;
    font-size: 18px;
}

#contact-me {
	color: #ffd700;
}

.navbar-inverse .navbar-nav>li>a {
    color: #dcd9d0;
}





/*.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}*/

.about {
	padding: 50px;
}

.projects {
	padding: ;
}

.borders {
    border-bottom-style: solid;
    border-bottom-width: thin;
}